In [3]:
import numpy as np
import pandas as pd

rng = np.random.RandomState(0)
df = pd.DataFrame({'key':['A', 'B', 'C','A','B','C'],'data1':range(6),'data2':rng.randint(0,10,6)}, \
                  columns=['key','data1','data2'])

df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [6]:
print(df.groupby('key').sum())

     data1  data2
key
A        3      8
B        5      7
C        7     12

In [11]:
df.groupby('key').aggregate([min,np.median,max,np.mean]) #分層

    data1                 data2
      min median max mean   min median max mean
key
A       0    1.5   3  1.5     3    4.0   5  4.0
B       1    2.5   4  2.5     0    3.5   7  3.5
C       2    3.5   5  3.5     3    6.0   9  6.0

In [13]:
df.groupby('key').aggregate({'data1':min, 'data2':max})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [17]:
# transform(): 轉換

df.groupby('key').transform(lambda x:x-x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [19]:
import seaborn as sns

planets = sns.load_dataset("planets")
shapes = planets.shape
print("資料筆數:", shapes[0], "欄位數:", shapes[1])

#planets = planets.dropna()

資料筆數: 1035 欄位數: 6

In [23]:
decade = 10*(planets['year']//10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method',decade])['number'].sum().unstack()

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       NaN    NaN    NaN    2.0
Eclipse Timing Variations        NaN    NaN    5.0   10.0
Imaging                          NaN    NaN   29.0   21.0
Microlensing                     NaN    NaN   12.0   15.0
Orbital Brightness Modulation    NaN    NaN    NaN    5.0
Pulsar Timing                    NaN    9.0    1.0    1.0
Pulsation Timing Variations      NaN    NaN    1.0    NaN
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          NaN    NaN   64.0  712.0
Transit Timing Variations        NaN    NaN    NaN    9.0

In [24]:
planets.groupby(['method',decade])['number'].sum().unstack().fillna("x")

decade                        1980s 1990s  2000s  2010s
method
Astrometry                        x     x      x    2.0
Eclipse Timing Variations         x     x    5.0   10.0
Imaging                           x     x   29.0   21.0
Microlensing                      x     x   12.0   15.0
Orbital Brightness Modulation     x     x      x    5.0
Pulsar Timing                     x   9.0    1.0    1.0
Pulsation Timing Variations       x     x    1.0      x
Radial Velocity                 1.0  52.0  475.0  424.0
Transit                           x     x   64.0  712.0
Transit Timing Variations         x     x      x    9.0

In [27]:
planets.groupby(['method',decade])['number'].sum().unstack().fillna("0")

decade                        1980s 1990s  2000s  2010s
method
Astrometry                        0     0      0    2.0
Eclipse Timing Variations         0     0    5.0   10.0
Imaging                           0     0   29.0   21.0
Microlensing                      0     0   12.0   15.0
Orbital Brightness Modulation     0     0      0    5.0
Pulsar Timing                     0   9.0    1.0    1.0
Pulsation Timing Variations       0     0    1.0      0
Radial Velocity                 1.0  52.0  475.0  424.0
Transit                           0     0   64.0  712.0
Transit Timing Variations         0     0      0    9.0

In [31]:
planets.groupby(['method','year'])['number'].sum().unstack().fillna("0")

year,1989,1992,1994,1995,1996,1997,1998,1999,2000,2001,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
method,,,,,,,,,,,,,,,,,,,,,
Astrometry,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1.0,0,0,1.0,0
Eclipse Timing Variations,0,0,0,0,0,0,0,0,0,0,...,0,0,0,4.0,1.0,4.0,5.0,1.0,0,0
Imaging,0,0,0,0,0,0,0,0,0,0,...,1.0,4.0,1.0,17.0,3.0,9.0,3.0,2.0,7.0,0
Microlensing,0,0,0,0,0,0,0,0,0,0,...,2.0,1.0,0,6.0,2.0,2.0,1.0,8.0,4.0,0
Orbital Brightness Modulation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4.0,0,1.0,0
Pulsar Timing,0,6.0,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.0,0,0,0
Pulsation Timing Variations,0,0,0,0,0,0,0,0,0,0,...,0,0,1.0,0,0,0,0,0,0,0
Radial Velocity,1.0,0,0,1.0,15.0,1.0,11.0,24.0,27.0,15.0,...,61.0,33.0,47.0,76.0,105.0,92.0,176.0,70.0,65.0,21.0
Transit,0,0,0,0,0,0,0,0,0,0,...,0,5.0,16.0,17.0,20.0,85.0,162.0,175.0,197.0,93.0
Transit Timing Variations,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2.0,2.0,2.0,3.0